// Variables
$bg: #f0f6ff;
$primary: #ff4d4d;
$black: #252525;
$white: #fff;

//Mixins

//Button
@mixin btn($clr, $btnBg, $hovBg, $hovClr) {
  position: relative;
  color: $clr;
  outline: none;
  background: $btnBg;
  border-radius: 0.5208333333333334vw;
  font-size: 0.9375vw;
  font-family: "Mont-SB";
  padding: 0.625vw 1.9791666666666667vw;
  border: 0.10416666666666667vw solid $primary;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background: $hovBg;
    color: $hovClr;
  }
}

//Heading
@mixin heading($width) {
  font-family: "Mont-SB";
  font-size: 2.9166666666666665vw;
  width: $width;
}

//Paragraph
@mixin paragraph($width) {
  font-family: "Mont-M";
  font-size: 1.25vw;
  line-height: 1.9270833333333333vw;
  width: $width;
}

//Hero Bubbles
@mixin bubble($top, $left, $right) {
  position: absolute;
  width: 6.25vw;
  top: $top;
  left: $left;
  right: $right;
}

//Hero Section Animation
@mixin animationpath($pos) {
  0% {
    top: $pos;
  }
  50% {
    top: calc(#{$pos} + 1.0416666666666667vw);
  }
  100% {
    top: $pos;
  }
}

@mixin htmlanim($pos) {
  animation: htmlanimation ease-in-out 5s infinite;
  @keyframes htmlanimation {
    @include animationpath($pos);
  }
}

@mixin jsanim($pos) {
  animation: jsanimation ease-in-out 3s infinite;
  @keyframes jsanimation {
    @include animationpath($pos);
  }
}

@mixin phpanim($pos) {
  animation: phpanimation ease-in-out 6s infinite;
  @keyframes phpanimation {
    @include animationpath($pos);
  }
}

@mixin cssanim($pos) {
  animation: cssanimation ease-in-out 4s infinite;
  @keyframes cssanimation {
    @include animationpath($pos);
  }
}

//Fonts
@font-face {
  font-family: "Mont-R";
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Mont-M";
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Mont-SB";
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Mont-B";
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Mont-MI";
  src: url(../fonts/Montserrat-MediumItalic.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background: $bg;
}

.main {
  opacity: 1;
  overflow: auto;
  .heroSection {
    height: 100vh;
    header {
      z-index: 1;
      position: relative;
      display: flex;
      top: 0;
      height: 7.291666666666667vw;
      align-items: center;
      background: $white;
      padding: 0 5.416666666666667vw 0 5.416666666666667vw;
      .logoContainer {
        display: flex;
        justify-content: flex-start;
        width: 8.072916666666666vw;
        height: auto;
        img {
          width: 100%;
        }
      }
      nav {
        flex: 1;
        .navLinks {
          display: flex;
          justify-content: space-evenly;
          list-style: none;
          justify-content: flex-end;
          button {
            @include btn($primary, none, $primary, $white);
          }
        }
      }
    }
    .heroBg {
      position: absolute;
      height: 94vh;
      width: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $white;
      // border-radius: 0% 0% 50% 50% / 0% 0% 30% 30%;
      border-radius: 100vw / 30vh;
      box-shadow: 0px 7px 102px rgba(0, 26, 255, 0.05);
      &:before {
        content: "";
        position: absolute;
        height: 50vh;
        width: 100%;
        top: 0;
        background: $white;
      }
      .down {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 3.3854166666666665vw;
        height: auto;
        transform: translate(-50%, -50%);
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
    .heroContent {
      position: absolute;
      z-index: 1;
      display: flex;
      height: 67vh;
      width: 100%;
      padding: 0 10.416666666666666vw;
      // background: $primary;
      align-items: center;
      .content {
        .heading {
          @include heading(38.541666666666664vw);
        }
        .para {
          @include paragraph(35.833333333333336vw);
          margin: 1.4583333333333333vw 0 1.4583333333333333vw 0;
        }
        .btns {
          a {
            margin-right: 1.6666666666666667vw;
          }
          .expBtn {
            @include btn($white, $primary, $primary, $white);
          }
          .viewBtn {
            @include btn($primary, none, $primary, $white);
          }
        }
      }
      .images {
        position: relative;
        width: 36.458333333333336vw;
        height: 28.125vw;
        // background-color: rgb(255, 147, 147);
        margin-left: 3.3854166666666665vw;
        .boyLap {
          position: absolute;
          width: 22.65625vw;
          top: 70%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .html {
          @include bubble(13.020833333333334vw, 3.6458333333333335vw, none);
          @include htmlanim(13.020833333333334vw);
        }
        .js {
          @include bubble(1.0416666666666667vw, 11.71875vw, none);
          @include jsanim(1.0416666666666667vw);
        }
        .php {
          @include bubble(4.947916666666667vw, none, 6.25vw);
          @include phpanim(4.947916666666667vw);
        }
        .css {
          @include bubble(15.625vw, none, 0px);
          @include cssanim(15.625vw);
        }
      }
    }
  }
  .focusSection {
    // position: absolute;
    .contents {
      padding: 12.5vw 10.416666666666666vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      img {
        width: 32.291666666666664vw;
        height: auto;
      }
      .content {
        .heading {
          @include heading(none);
        }
        .para {
          @include paragraph(38.541666666666664vw);
          margin-top: 1.4583333333333333vw;
        }
      }
    }
  }
  .quoteSection {
    padding: 9.114583333333334vw 0 15vw 0;
    .quote {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      .quoteLeft {
        position: absolute;
        width: 4.427083333333333vw;
        top: -3.90625vw;
        left: -28.645833333333332vw;
      }
      .quoteRight {
        position: absolute;
        width: 4.427083333333333vw;
        right: -28.645833333333332vw;
        bottom: -9.114583333333334vw;
      }
    }
    .content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      .text {
        font-family: "Mont-MI";
        font-size: 3.75vw;
        text-align: center;
      }
    }
  }
  .introSection {
    // position: absolute;
    .contents {
      padding: 12.5vw 10.416666666666666vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      .content {
        .heading {
          @include heading(none);
        }
        .para {
          @include paragraph(35.833333333333336vw);
          margin-top: 1.4583333333333333vw;
        }
      }
      img {
        width: 38.802083333333336vw;
        height: auto;
      }
    }
  }
  .features {
    padding:0 200px 200px 200px ;
    .cards {
      display:flex;
      justify-content: space-between;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 314px;
        height: 314px;
        background: $white;
        border-radius: 25px;
        box-shadow: -3px 8px 44px rgba(136, 136, 136, 0.06);
        img{
          padding-top:42px;
          width:174px;
          height:auto;
        }
        .text{
          @include paragraph(none);
          padding-bottom: 38px;
        }
      }
    }
  }
}

//Preloader
// .preloader {
//   position: fixed;
//   z-index: 10;
//   opacity: 1;
//   background: #fff;
//   transition: all 0.5s ease;
//   overflow: hidden;
// }
// .preloaderFinish {
//   opacity: 0;
//   pointer-events: none;
// }
// .display {
//   opacity: 1;
// }
