@import "./mixins.scss";

a {
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: $bg;
}

// .cat {
//   display: none;
//   pointer-events: none;
// }

.main {
  // height: 100vh;
  opacity: 1;
  display: block;
  overflow: auto;
  .heroSection {
    height: 100vh;
    header {
      z-index: 1;
      position: relative;
      display: flex;
      top: 0;
      height: 7.291666666666667vw;
      align-items: center;
      background: $white;
      padding: 0 5.416666666666667vw 0 5.416666666666667vw;
      .logoContainer {
        display: flex;
        justify-content: flex-start;
        width: 8.072916666666666vw;
        height: auto;
        img {
          width: 100%;
        }
      }
      nav {
        flex: 1;
        .navLinks {
          display: flex;
          justify-content: space-evenly;
          list-style: none;
          justify-content: flex-end;
          button {
            @include btn($primary, none, $primary, $white);
          }
        }
      }
    }
    .heroBg {
      position: absolute;
      height: 94vh;
      width: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $white;
      // border-radius: 0% 0% 50% 50% / 0% 0% 30% 30%;
      border-radius: 100vw / 30vh;
      box-shadow: 0px 7px 102px rgba(0, 26, 255, 0.05);
      &:before {
        content: "";
        position: absolute;
        height: 50vh;
        width: 100%;
        top: 0;
        background: $white;
      }
      .down {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 3.3854166666666665vw;
        height: auto;
        transform: translate(-50%, -50%);
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
    .heroContent {
      position: absolute;
      z-index: 1;
      display: flex;
      height: 67vh;
      width: 100%;
      padding: 0 10.416666666666666vw;
      // background: $primary;
      align-items: center;
      .content {
        .heading {
          @include heading(38.541666666666664vw);
        }
        .para {
          @include paragraph(35.833333333333336vw);
          margin: 1.4583333333333333vw 0 1.4583333333333333vw 0;
        }
        .btns {
          a {
            margin-right: 1.6666666666666667vw;
          }
          .expBtn {
            @include btn($white, $primary, $primary, $white);
          }
          .viewBtn {
            @include btn($primary, none, $primary, $white);
          }
        }
      }
      .images {
        position: relative;
        width: 36.458333333333336vw;
        height: 28.125vw;
        // background-color: rgb(255, 147, 147);
        margin-left: 3.3854166666666665vw;
        .boyLap {
          position: absolute;
          width: 22.65625vw;
          top: 70%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .html {
          @include bubble(13.020833333333334vw, 3.6458333333333335vw, none);
          @include htmlanim(13.020833333333334vw);
        }
        .js {
          @include bubble(1.0416666666666667vw, 11.71875vw, none);
          @include jsanim(1.0416666666666667vw);
        }
        .php {
          @include bubble(4.947916666666667vw, none, 6.25vw);
          @include phpanim(4.947916666666667vw);
        }
        .css {
          @include bubble(15.625vw, none, 0px);
          @include cssanim(15.625vw);
        }
      }
    }
  }
  .focusSection {
    // position: absolute;
    .contents {
      padding: 12.5vw 10.416666666666666vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      img {
        width: 32.291666666666664vw;
        height: auto;
      }
      .content {
        .heading {
          @include heading(none);
        }
        .para {
          @include paragraph(38.541666666666664vw);
          margin-top: 1.4583333333333333vw;
        }
      }
    }
  }
  .quoteSection {
    padding: 9.114583333333334vw 0 15vw 0;
    .quote {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      .quoteLeft {
        position: absolute;
        width: 4.427083333333333vw;
        top: -3.90625vw;
        left: -28.645833333333332vw;
      }
      .quoteRight {
        position: absolute;
        width: 4.427083333333333vw;
        right: -28.645833333333332vw;
        bottom: -9.114583333333334vw;
      }
    }
    .content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      .text {
        font-family: "Mont-MI";
        font-size: 3.75vw;
        text-align: center;
      }
    }
  }
  .introSection {
    // position: absolute;
    .contents {
      padding: 12.5vw 10.416666666666666vw 7vw 10.416666666666666vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      .content {
        .heading {
          @include heading(none);
        }
        .para {
          @include paragraph(35.833333333333336vw);
          margin-top: 1.4583333333333333vw;
        }
      }
      img {
        width: 38.802083333333336vw;
        height: auto;
      }
    }
  }
  .features {
    padding: 0 10.416666666666666vw 5vw 10.416666666666666vw;
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform-style: preserve-3d;
        width: 16.354166666666668vw;
        height: 16.354166666666668vw;
        background: $white;
        border-radius: 1.3020833333333333vw;
        box-shadow: -0.15625vw 0.4166666666666667vw 2.2916666666666665vw
          rgba(145, 145, 145, 0.06);
        &:hover {
          box-shadow: -0.15625vw 0.4166666666666667vw 2.34375vw
            rgba(136, 136, 136, 0.19);
        }
        &:hover img,
        &:hover .text {
          transform: translateZ(10px);
        }
        img {
          padding-top: 1.5vw;
          width: 9.0625vw;
          height: auto;
          transition: 0.3s;
        }
        .text {
          @include paragraph(none);
          padding-bottom: 2.3vw;
          font-family: "Mont-SB";
          transition: 0.3s;
        }
      }
    }
  }
  .winnerSection {
    // position: absolute;
    .contents {
      padding: 12.5vw 10.416666666666666vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      img {
        width: 25.520833333333332vw;
        height: auto;
      }
      .content {
        .heading {
          @include heading(none);
        }
        .para {
          @include paragraph(35.833333333333336vw);
          margin-top: 1.4583333333333333vw;
        }
      }
    }
  }
  .testimonials {
    min-height: 100vh;
    padding-top: 6vw;
    .container {
      max-width: 100vw;
      margin: auto;
      .quotes {
        .lq {
          position: absolute;
          margin-left: 20.833333333333332vw;
          margin-top: 15.625vw;
          width: 4.427083333333333vw;
          height: auto;
        }
        .rq {
          position: absolute;
          margin-left: 72.91666666666667vw;
          margin-top: 28.645833333333332vw;
          width: 4.427083333333333vw;
          height: auto;
        }
      }
      .title {
        @include heading(none);
        margin-bottom: 3.90625vw;
        text-align: center;
      }
      .slider-indicator {
        padding: 2.6041666666666665vw 0 3.90625vw 0;
        text-align-last: center;
        img {
          width: 4.947916666666667vw;
          height: auto;
          margin: 0 1.5625vw;
          opacity: 0.5;
          outline: none;
          border-radius: 100%;
          cursor: pointer;
          transition: 0.3s ease;
          &.active {
            opacity: 1;
            transform: scale(1.3);
          }
        }
      }
      .slider {
        max-width: 41vw;
        margin: auto;
        text-align: center;
        padding: 1.5625vw;
        .slide {
          display: none;
          &.active {
            display: block;
            animation: slide 1s ease;
          }
          p {
            @include paragraph(none);
            color: #60695c;
          }
          .client-info {
            margin: 1.5625vw 0;
            .name {
              font-size: 0.9375vw;
              font-family: "Mont-B";
              margin: 0.2604166666666667vw 0;
            }
            span {
              display: block;
              font-size: 0.85vw;
              font-family: "Mont-MI";
              color: #60695c;
            }
          }
        }
      }
    }
  }
  footer {
    height: 5vh;
    width: 100%;
    background: $white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    h3 {
      font-size: 1vw;
      pointer-events: none;
      user-select: none;
      font-family: "Mont-SB";
      word-spacing: 0.3645833333333333vw;
      img {
        width: 0.8333333333333334vw;
        height: auto;
        animation: heart ease-in-out 2s infinite;
      }
    }
  }
}

//Preloader
// .preloader {
//   position: fixed;
//   z-index: 10;
//   opacity: 1;
//   background: #fff;
//   transition: all 0.5s ease;
//   overflow: hidden;
// }
// .preloaderFinish {
//   opacity: 0;
//   display: none;
//   pointer-events: none;
// }
// .display {
//   opacity: 1;
// }

//Responsive
@media screen and (max-width: 1300px) {
  .main {
    .heroSection {
      header {
        height: 9.5vw;
        .logoContainer {
          width: 11vw;
        }
        nav {
          .navLinks {
            button {
              font-size: 1.5vw;
              border: 0.2vw solid $primary;
            }
          }
        }
      }
      .heroBg {
        .down {
          width: 4vw;
        }
      }
      .heroContent {
        .content {
          .heading {
            font-size: 3.6vw;
          }
          .para {
            font-size: 1.5vw;
            line-height: 2.5vw;
          }
          .btns {
            a {
              margin-right: 2vw;
            }
            .expBtn,
            .viewBtn {
              font-size: 1.5vw;
              border: 0.2vw solid $primary;
            }
          }
        }
        .images {
          .boyLap {
            width: 24vw;
          }
        }
      }
    }
    .focusSection {
      .contents {
        img {
          width: 35vw;
        }
        .content {
          .heading {
            font-size: 3.6vw;
          }
          .para {
            font-size: 1.5vw;
            line-height: 2.5vw;
          }
        }
      }
    }
    .quoteSection {
      .quote {
        .quoteLeft {
          top: -4.2vw;
          left: -33vw;
        }
        .quoteRight {
          right: -33vw;
          bottom: -11;
        }
      }
      .content {
        .text {
          font-size: 4.5vw;
        }
      }
    }
    .introSection {
      .contents {
        .content {
          .heading {
            font-size: 3.6vw;
          }
          .para {
            font-size: 1.5vw;
            line-height: 2.5vw;
          }
        }
        img {
          width: 38.802083333333336vw;
        }
      }
    }
    .features {
      .cards {
        .card {
          width: 16.7vw;
          height: 16.7vw;
          .text {
            font-size: 1.5vw;
          }
        }
      }
    }
    .winnerSection {
      .contents {
        img {
          width: 25.520833333333332vw;
        }
        .content {
          .heading {
            font-size: 3.6vw;
          }
          .para {
            font-size: 1.5vw;
            line-height: 2.5vw;
          }
        }
      }
    }
    .testimonials {
      min-height: 70vh;
      .container {
        .quotes {
          .lq {
            position: absolute;
            margin-left: 20.833333333333332vw;
            margin-top: 15.625vw;
            width: 4.427083333333333vw;
            height: auto;
          }
          .rq {
            position: absolute;
            margin-left: 72.91666666666667vw;
            margin-top: 28.645833333333332vw;
            width: 4.427083333333333vw;
            height: auto;
          }
        }
        .title {
          font-size: 3.6vw;
          margin-bottom: 4.5vw;
        }
        .slider-indicator {
          padding: 2.6041666666666665vw 0 3.90625vw 0;
          text-align-last: center;
          img {
            width: 5.2vw;
            height: auto;
            margin: 0 2vw;
          }
        }
        .slider {
          .slide {
            p {
              font-size: 1.5vw;
              line-height: 2.5vw;
            }
            .client-info {
              margin: 2vw 0;
              .name {
                font-size: 1.2vw;
                margin: 0.7vw 0;
              }
              span {
                font-size: 1vw;
              }
            }
          }
        }
      }
    }
    footer {
      height: 5vh;
      h3 {
        font-size: 1.35vw;
        img {
          width: 1vw;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    .heroSection {
      header {
        height: 10vw;
        .logoContainer {
          width: 12vw;
        }
        nav {
          .navLinks {
            button {
              font-size: 1.7vw;
              border: 0.3vw solid $primary;
              padding: 1vw 3vw;
            }
          }
        }
      }
      .heroBg {
        .down {
          width: 5vw;
        }
      }
      .heroContent {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 7vw;
        position: absolute;
        left: 50%;
        transform: translateX(-47%);
        .content {
          margin-top: 10vw;
          .heading {
            @include heading(50vw);
            font-size: 4.5vw;
          }
          .para {
            @include paragraph(45vw);
            font-size: 2.3vw;
            line-height: 3vw;
            margin: 2vw 0 2.7vw 0;
            text-align: center;
          }
          .btns {
            position: relative;
            left: 50%;
            transform: translateX(-43%);
            a {
              margin-right: 2vw;
            }
            .expBtn,
            .viewBtn {
              font-size: 1.7vw;
              border: 0.3vw solid $primary;
              padding: 1vw 3vw;
            }
          }
        }
        .images {
          margin-right: 10vw;
          .boyLap {
            width: 40vw;
          }
        }
      }
    }
    .focusSection {
      .contents {
        padding: 19vw 10.416666666666666vw;
        grid-template-columns: 1fr;
        justify-items: center;
        img {
          width: 47vw;
        }
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 5vw;
          .heading {
            @include heading(60vw);
            font-size: 4.5vw;
            text-align: center;
          }
          .para {
            @include paragraph(51vw);
            font-size: 2.3vw;
            line-height: 3vw;
            margin-top: 2vw;
            text-align: center;
          }
        }
      }
    }
    .quoteSection {
      .quote {
        .quoteLeft {
          top: -4.2vw;
          left: -33vw;
        }
        .quoteRight {
          right: -33vw;
          bottom: -11;
        }
      }
      .content {
        .text {
          font-size: 4vw;
        }
      }
    }
    .introSection {
      .contents {
        padding: 19vw 10.416666666666666vw;
        grid-template-columns: 1fr;
        justify-items: center;
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 5vw;
          order: 2;
          .heading {
            @include heading(60vw);
            font-size: 4.5vw;
            text-align: center;
          }
          .para {
            @include paragraph(51vw);
            font-size: 2.3vw;
            line-height: 3vw;
            margin-top: 2vw;
            text-align: center;
          }
        }
        img {
          width: 47vw;
          order: 1;
        }
      }
    }
    .features {
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-row-gap: 10vw;
        .card {
          width: 26vw;
          height: 26vw;
          img {
            padding-top: 1.9vw;
            width: 15vw;
          }
          .text {
            font-size: 2.5vw;
            padding-bottom: 4.5vw;
          }
        }
      }
    }
    .winnerSection {
      .contents {
        padding: 25vw 10.416666666666666vw;
        grid-template-columns: 1fr;
        justify-items: center;
        img {
          width: 30vw;
        }
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 5vw;
          .heading {
            @include heading(60vw);
            font-size: 4.5vw;
            text-align: center;
          }
          .para {
            @include paragraph(51vw);
            font-size: 2.3vw;
            line-height: 3vw;
            margin-top: 2vw;
            text-align: center;
          }
        }
      }
    }
    .testimonials {
      min-height: 70vh;
      .container {
        .quotes {
          .lq {
            margin-left: 12vw;
            margin-top: 22vw;
            width: 5vw;
          }
          .rq {
            margin-left: 80vw;
            margin-top: 50vw;
            width: 5vw;
          }
        }
        .title {
          font-size: 3.9vw;
          margin-bottom: 4.5vw;
        }
        .slider-indicator {
          padding: 5vw 0 3.90625vw 0;
          text-align-last: center;
          img {
            width: 7vw;
            height: auto;
            margin: 0 4vw;
          }
        }
        .slider {
          max-width: 60vw;
          .slide {
            p {
              font-size: 2.5vw;
              line-height: 3.5vw;
            }
            .client-info {
              margin: 4vw 0;
              .name {
                font-size: 2vw;
                margin: 1.5vw 0;
              }
              span {
                font-size: 1.7vw;
              }
            }
          }
        }
      }
    }
    footer {
      height: 5.7vh;
      h3 {
        font-size: 1.8vw;
        img {
          width: 1.4vw;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main {
    .heroSection {
      header {
        height: 17vw;
        .logoContainer {
          width: 18vw;
        }
        nav {
          .navLinks {
            button {
              font-size: 1.9vw;
              border: 0.4vw solid $primary;
              padding: 1.5vw 4vw;
              border-radius: 1.1vw;
            }
          }
        }
      }
      .heroBg {
        .down {
          width: 6vw;
        }
      }
      .heroContent {
        margin-top: 7vw;
        left: 50%;
        transform: translateX(-47%);
        .content {
          margin-top: 10vw;
          .heading {
            @include heading(70vw);
            font-size: 4.9vw;
            line-height: 7.5vw;
            text-align: center;
          }
          .para {
            @include paragraph(70vw);
            font-size: 3vw;
            line-height: 4.5vw;
            margin: 2vw 0 3.5vw 0;
          }
          .btns {
            position: relative;
            left: 50%;
            transform: translateX(-35.5%);
            a {
              margin-right: 2vw;
            }
            .expBtn,
            .viewBtn {
              font-size: 1.9vw;
              border: 0.4vw solid $primary;
              padding: 1.5vw 4vw;
              border-radius: 1.1vw;
            }
          }
        }
        .images {
          margin-right: 10vw;
          height: 40vw;
          .boyLap {
            width: 45vw;
          }
          .html {
            @include bubble(40vw, -5vw, none);
            width: 9vw;
          }
          .js {
            @include bubble(-5vw, 6vw, none);
            width: 9vw;
          }
          .php {
            @include bubble(8vw, none, 1vw);
            width: 9vw;
          }
          .css {
            @include bubble(4vw, none, -5vw);
            width: 9vw;
          }
        }
      }
    }
    .focusSection {
      .contents {
        padding: 29vw 10.416666666666666vw;
        img {
          width: 54vw;
        }
        .content {
          margin-top: 7vw;
          .heading {
            @include heading(70vw);
            font-size: 4.9vw;
            line-height: 7.5vw;
            text-align: center;
          }
          .para {
            @include paragraph(58vw);
            font-size: 3vw;
            line-height: 4.5vw;
            margin: 2vw 0 3.5vw 0;
          }
        }
      }
    }
    .quoteSection {
      .quote {
        .quoteLeft {
          top: -4.2vw;
          left: -33vw;
        }
        .quoteRight {
          right: -33vw;
          bottom: -11;
        }
      }
      .content {
        .text {
          font-size: 4vw;
        }
      }
    }
    .introSection {
      .contents {
        padding: 28vw 10.416666666666666vw 19vw 10.416666666666666vw;

        .content {
          margin-top: 7vw;
          .heading {
            @include heading(70vw);
            font-size: 4.9vw;
            line-height: 7.5vw;
            text-align: center;
          }
          .para {
            @include paragraph(58vw);
            font-size: 3vw;
            line-height: 4.5vw;
            margin: 2vw 0 3.5vw 0;
          }
        }
        img {
          width: 54vw;
          order: 1;
        }
      }
    }
    .features {
      .cards {
        grid-row-gap: 7vw;
        .card {
          width: 30vw;
          height: 30vw;
          img {
            width: 18vw;
          }
          .text {
            font-size: 2.7vw;
          }
        }
      }
    }
    .winnerSection {
      .contents {
        padding: 29vw 10.416666666666666vw;
        grid-template-columns: 1fr;
        justify-items: center;
        img {
          width: 35vw;
        }
        .content {
          margin-top: 7vw;
          .heading {
            @include heading(70vw);
            font-size: 4.9vw;
            line-height: 7.5vw;
            text-align: center;
          }
          .para {
            @include paragraph(65vw);
            font-size: 3vw;
            line-height: 4.5vw;
            margin: 2vw 0 3.5vw 0;
          }
        }
      }
    }
    .testimonials {
      min-height: 55vh;
      .container {
        .quotes {
          .lq {
            margin-left: 12vw;
            margin-top: 22vw;
            width: 5vw;
          }
          .rq {
            margin-left: 80vw;
            margin-top: 50vw;
            width: 5vw;
          }
        }
        .title {
          font-size: 4.2vw;
          margin-bottom: 4.5vw;
        }
        .slider-indicator {
          padding: 5vw 0 3.90625vw 0;
          text-align-last: center;
          img {
            width: 7vw;
            height: auto;
            margin: 0 4vw;
          }
        }
        .slider {
          max-width: 60vw;
          .slide {
            p {
              font-size: 2.5vw;
              line-height: 3.5vw;
            }
            .client-info {
              margin: 4vw 0;
              .name {
                font-size: 2vw;
                margin: 1.5vw 0;
              }
              span {
                font-size: 1.7vw;
              }
            }
          }
        }
      }
    }
    footer {
      height: 5.7vh;
      h3 {
        font-size: 2vw;
        img {
          width: 1.7vw;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .main {
    .heroSection {
      header {
        height: 20vw;
        .logoContainer {
          width: 23vw;
        }
        nav {
          .navLinks {
            button {
              font-size: 2.6vw;
              border: 0.45vw solid $primary;
              padding: 1.7vw 5vw;
              border-radius: 1.3vw;
            }
          }
        }
      }
      .heroBg {
        .down {
          width: 8vw;
        }
      }
      .heroContent {
        margin-top: 7vw;
        left: 50%;
        transform: translateX(-50%);
        .content {
          margin-top: 10vw;
          .heading {
            @include heading(75vw);
            font-size: 6vw;
            line-height: 8vw;
          }
          .para {
            @include paragraph(70vw);
            font-size: 3.8vw;
            line-height: 6vw;
            margin: 3vw 0 5vw 0;
            margin-left: 2vw;
          }
          .btns {
            position: relative;
            left: 50%;
            transform: translateX(-39.5%);
            a {
              margin-right: 4vw;
            }
            .expBtn,
            .viewBtn {
              font-size: 2.6vw;
              border: 0.45vw solid $primary;
              padding: 1.7vw 5vw;
              border-radius: 1.3vw;
            }
          }
        }
        .images {
          margin-right: 5vw;
          height: 47vw;
          .boyLap {
            width: 45vw;
          }
          .html {
            @include bubble(40vw, -5vw, none);
            width: 9vw;
          }
          .js {
            @include bubble(-5vw, 6vw, none);
            width: 9vw;
          }
          .php {
            @include bubble(8vw, none, 1vw);
            width: 9vw;
          }
          .css {
            @include bubble(4vw, none, -5vw);
            width: 9vw;
          }
        }
      }
    }
    .focusSection {
      .contents {
        padding: 35vw 10.416666666666666vw;
        img {
          width: 60vw;
        }
        .content {
          margin-top: 10vw;
          .heading {
            @include heading(75vw);
            font-size: 6vw;
            line-height: 8vw;
          }
          .para {
            @include paragraph(75vw);
            font-size: 3.8vw;
            line-height: 6vw;
            margin: 3vw 0 5vw 0;
          }
        }
      }
    }
    .quoteSection {
      .quote {
        .quoteLeft {
          width: 5vw;
          top: -4.2vw;
          left: -33vw;
        }
        .quoteRight {
          width: 5vw;
          right: -33vw;
          bottom: -11;
        }
      }
      .content {
        .text {
          font-size: 4.5vw;
        }
      }
    }
    .introSection {
      .contents {
        padding: 39vw 10.416666666666666vw 19vw 10.416666666666666vw;

        .content {
          margin-top: 10vw;
          .heading {
            @include heading(75vw);
            font-size: 6vw;
            line-height: 8vw;
          }
          .para {
            @include paragraph(75vw);
            font-size: 3.8vw;
            line-height: 6vw;
            margin: 3vw 0 5vw 0;
          }
        }
        img {
          width: 60vw;
          order: 1;
        }
      }
    }
    .features {
      .cards {
        grid-template-columns: 1fr;
        grid-row-gap: 7vw;
        .card {
          width: 40vw;
          height: 40vw;
          border-radius: 3vw;
          img {
            width: 25vw;
          }
          .text {
            font-size: 3.5vw;
            padding-bottom: 5vw;
          }
        }
      }
    }
    .winnerSection {
      .contents {
        padding: 39vw 10.416666666666666vw 23vw 10.416666666666666vw;
        img {
          width: 35vw;
        }
        .content {
          margin-top: 10vw;
          .heading {
            @include heading(75vw);
            font-size: 6vw;
            line-height: 8vw;
          }
          .para {
            @include paragraph(75vw);
            font-size: 3.8vw;
            line-height: 6vw;
            margin: 3vw 0 5vw 0;
          }
        }
      }
    }
    .testimonials {
      min-height: 65vh;
      .container {
        .quotes {
          .lq {
            margin-left: 4vw;
            margin-top: 35vw;
            width: 7vw;
          }
          .rq {
            margin-left: 88vw;
            margin-top: 80vw;
            width: 7vw;
          }
        }
        .title {
          font-size: 5.5vw;
          margin-bottom: 4vw;
        }
        .slider-indicator {
          padding: 5vw 0 3.90625vw 0;
          text-align-last: center;
          img {
            width: 10vw;
            height: auto;
            margin: 4vw 7vw;
          }
        }
        .slider {
          max-width: 80vw;
          .slide {
            p {
              font-size: 4vw;
              line-height: 5.5vw;
            }
            .client-info {
              margin: 6vw 0;
              .name {
                font-size: 3.5vw;
                margin: 1.5vw 0;
              }
              span {
                font-size: 3vw;
              }
            }
          }
        }
      }
    }
    footer {
      height: 5.7vh;
      h3 {
        font-size: 3vw;
        img {
          width: 2vw;
        }
      }
    }
  }
}
