@font-face {
  font-family: "Mont-R";
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Mont-M";
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Mont-SB";
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Mont-B";
  src: url(../fonts/Montserrat-Bold.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.main {
  opacity: 1;
  overflow: auto;
}

.main .heroSection {
  height: 100vh;
  background: #f0f6ff;
}

.main .heroSection header {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  height: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 0 104px 0 104px;
}

.main .heroSection header .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 155px;
  height: auto;
}

.main .heroSection header .logoContainer img {
  width: 100%;
}

.main .heroSection header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .heroSection header nav .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .heroSection header nav .navLinks button {
  position: relative;
  color: #ff4d4d;
  outline: none;
  background: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Mont-SB";
  padding: 12px 38px;
  border: 2px solid #ff4d4d;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .heroSection header nav .navLinks button:hover {
  background: #ff4d4d;
  color: #fff;
}

.main .heroSection .heroBg {
  position: absolute;
  height: 92vh;
  width: 140%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  border-radius: 0% 0% 50% 50% / 0% 0% 75% 75%;
  -webkit-box-shadow: 0px 7px 102px rgba(0, 26, 255, 0.05);
          box-shadow: 0px 7px 102px rgba(0, 26, 255, 0.05);
}

.main .heroSection .heroBg .down {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 65px;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.main .heroSection .heroBg .down img {
  width: 100%;
}

.main .heroSection .heroContent {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 100%;
  padding: 0 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .heroSection .heroContent .content .heading {
  font-family: "Mont-SB";
  font-size: 58px;
  width: 740px;
}

.main .heroSection .heroContent .content .para {
  font-family: "Mont-M";
  font-size: 24px;
  width: 688px;
  line-height: 37px;
  margin: 24px 0 22px 0;
}

.main .heroSection .heroContent .content .btns a {
  margin-right: 32px;
}

.main .heroSection .heroContent .content .btns .expBtn {
  position: relative;
  color: #fff;
  outline: none;
  background: #ff4d4d;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Mont-SB";
  padding: 12px 38px;
  border: 2px solid #ff4d4d;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .heroSection .heroContent .content .btns .expBtn:hover {
  background: #ff4d4d;
  color: #fff;
}

.main .heroSection .heroContent .content .btns .viewBtn {
  position: relative;
  color: #ff4d4d;
  outline: none;
  background: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Mont-SB";
  padding: 12px 38px;
  border: 2px solid #ff4d4d;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .heroSection .heroContent .content .btns .viewBtn:hover {
  background: #ff4d4d;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */