// Variables
$bg: #f0f6ff;
$primary: #ff4d4d;
$black: #252525;
$white: #fff;

@font-face {
  font-family: "Mont-R";
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Mont-M";
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Mont-SB";
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Mont-B";
  src: url(../fonts/Montserrat-Bold.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button {
  position: relative;
  color: $primary;
  outline: none;
  background: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Mont-SB";
  padding: 12px 38px;
  border: 2px solid $primary;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease;
  &:hover {
    background: $primary;
    color: $white;
  }
}

.main {
  opacity: 1;
  overflow: auto;
  .heroSection {
    height: 100vh;
    background: $bg;
    header {
      z-index: 1;
      position: relative;
      display: flex;
      top: 0;
      height: 140px;
      align-items: center;
      background: $white;
      padding: 0 104px 0 104px;
      .logoContainer {
        display: flex;
        justify-content: flex-start;
        width: 155px;
        height: auto;
        img {
          width: 100%;
        }
      }
      nav {
        flex: 1;
        .navLinks {
          display: flex;
          justify-content: space-evenly;
          list-style: none;
          justify-content: flex-end;
        }
      }
    }
    .heroBg {
      position: absolute;
      height: 92vh;
      width: 140%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $white;
      border-radius: 0% 0% 50% 50% / 0% 0% 75% 75%;
      box-shadow: 0px 7px 102px rgba(0, 26, 255, 0.05);
      .down {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 65px;
        height: auto;
        transform: translate(-50%, -50%);
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
    .heroContent {
      position: absolute;
      z-index: 1;
      display: flex;
      height: 70vh;
      width: 100%;
      padding: 0 200px;
      // background: $primary;
      align-items: center;
      .content {
        .heading {
          font-family: "Mont-SB";
          font-size: 58px;
          width: 740px;
        }
        .para {
          font-family: "Mont-M";
          font-size: 24px;
          width: 688px;
          line-height: 37px;
          margin: 24px 0 22px 0;
        }
        .btns{
          a{
            margin-right: 32px;
          }
        }
      }
    }
  }
}

//Preloader
// .preloader {
//   position: fixed;
//   z-index: 10;
//   opacity: 1;
//   background: #fff;
//   transition: all 0.5s ease;
//   overflow: hidden;
// }
// .preloaderFinish {
//   opacity: 0;
//   pointer-events: none;
// }
// .display {
//   opacity: 1;
// }
