@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@font-face {
  font-family: "Mont-R";
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Mont-M";
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Mont-SB";
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Mont-B";
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Mont-MI";
  src: url(../fonts/Montserrat-MediumItalic.ttf);
}

a {
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #f0f6ff;
}

.main {
  opacity: 1;
  display: block;
  overflow: auto;
}

.main .heroSection {
  height: 100vh;
}

.main .heroSection header {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  height: 7.291666666666667vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 0 5.416666666666667vw 0 5.416666666666667vw;
}

.main .heroSection header .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 8.072916666666666vw;
  height: auto;
}

.main .heroSection header .logoContainer img {
  width: 100%;
}

.main .heroSection header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .heroSection header nav .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .heroSection header nav .navLinks button {
  position: relative;
  color: #ff4d4d;
  outline: none;
  background: none;
  border-radius: 0.5208333333333334vw;
  font-size: 0.9375vw;
  font-family: "Mont-SB";
  padding: 0.625vw 1.9791666666666667vw;
  border: 0.10417vw solid #ff4d4d;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .heroSection header nav .navLinks button:hover {
  background: #ff4d4d;
  color: #fff;
}

.main .heroSection .heroBg {
  position: absolute;
  height: 94vh;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  border-radius: 100vw / 30vh;
  -webkit-box-shadow: 0px 7px 102px rgba(0, 26, 255, 0.05);
          box-shadow: 0px 7px 102px rgba(0, 26, 255, 0.05);
}

.main .heroSection .heroBg:before {
  content: "";
  position: absolute;
  height: 50vh;
  width: 100%;
  top: 0;
  background: #fff;
}

.main .heroSection .heroBg .down {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 3.3854166666666665vw;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.main .heroSection .heroBg .down img {
  width: 100%;
}

.main .heroSection .heroContent {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 67vh;
  width: 100%;
  padding: 0 10.416666666666666vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .heroSection .heroContent .content .heading {
  font-family: "Mont-SB";
  font-size: 2.9166666666666665vw;
  width: 38.54167vw;
}

.main .heroSection .heroContent .content .para {
  font-family: "Mont-M";
  font-size: 1.25vw;
  line-height: 1.9270833333333333vw;
  width: 35.83333vw;
  margin: 1.4583333333333333vw 0 1.4583333333333333vw 0;
}

.main .heroSection .heroContent .content .btns a {
  margin-right: 1.6666666666666667vw;
}

.main .heroSection .heroContent .content .btns .expBtn {
  position: relative;
  color: #fff;
  outline: none;
  background: #ff4d4d;
  border-radius: 0.5208333333333334vw;
  font-size: 0.9375vw;
  font-family: "Mont-SB";
  padding: 0.625vw 1.9791666666666667vw;
  border: 0.10417vw solid #ff4d4d;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .heroSection .heroContent .content .btns .expBtn:hover {
  background: #ff4d4d;
  color: #fff;
}

.main .heroSection .heroContent .content .btns .viewBtn {
  position: relative;
  color: #ff4d4d;
  outline: none;
  background: none;
  border-radius: 0.5208333333333334vw;
  font-size: 0.9375vw;
  font-family: "Mont-SB";
  padding: 0.625vw 1.9791666666666667vw;
  border: 0.10417vw solid #ff4d4d;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .heroSection .heroContent .content .btns .viewBtn:hover {
  background: #ff4d4d;
  color: #fff;
}

.main .heroSection .heroContent .images {
  position: relative;
  width: 36.458333333333336vw;
  height: 28.125vw;
  margin-left: 3.3854166666666665vw;
}

.main .heroSection .heroContent .images .boyLap {
  position: absolute;
  width: 22.65625vw;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .heroSection .heroContent .images .html {
  position: absolute;
  width: 6.25vw;
  top: 13.02083vw;
  left: 3.64583vw;
  right: none;
  -webkit-animation: htmlanimation ease-in-out 5s infinite;
          animation: htmlanimation ease-in-out 5s infinite;
}

@-webkit-keyframes htmlanimation {
  0% {
    top: 13.02083vw;
  }
  50% {
    top: calc(13.02083vw + 1.0416666666666667vw);
  }
  100% {
    top: 13.02083vw;
  }
}

@keyframes htmlanimation {
  0% {
    top: 13.02083vw;
  }
  50% {
    top: calc(13.02083vw + 1.0416666666666667vw);
  }
  100% {
    top: 13.02083vw;
  }
}

.main .heroSection .heroContent .images .js {
  position: absolute;
  width: 6.25vw;
  top: 1.04167vw;
  left: 11.71875vw;
  right: none;
  -webkit-animation: jsanimation ease-in-out 3s infinite;
          animation: jsanimation ease-in-out 3s infinite;
}

@-webkit-keyframes jsanimation {
  0% {
    top: 1.04167vw;
  }
  50% {
    top: calc(1.04167vw + 1.0416666666666667vw);
  }
  100% {
    top: 1.04167vw;
  }
}

@keyframes jsanimation {
  0% {
    top: 1.04167vw;
  }
  50% {
    top: calc(1.04167vw + 1.0416666666666667vw);
  }
  100% {
    top: 1.04167vw;
  }
}

.main .heroSection .heroContent .images .php {
  position: absolute;
  width: 6.25vw;
  top: 4.94792vw;
  left: none;
  right: 6.25vw;
  -webkit-animation: phpanimation ease-in-out 6s infinite;
          animation: phpanimation ease-in-out 6s infinite;
}

@-webkit-keyframes phpanimation {
  0% {
    top: 4.94792vw;
  }
  50% {
    top: calc(4.94792vw + 1.0416666666666667vw);
  }
  100% {
    top: 4.94792vw;
  }
}

@keyframes phpanimation {
  0% {
    top: 4.94792vw;
  }
  50% {
    top: calc(4.94792vw + 1.0416666666666667vw);
  }
  100% {
    top: 4.94792vw;
  }
}

.main .heroSection .heroContent .images .css {
  position: absolute;
  width: 6.25vw;
  top: 15.625vw;
  left: none;
  right: 0px;
  -webkit-animation: cssanimation ease-in-out 4s infinite;
          animation: cssanimation ease-in-out 4s infinite;
}

@-webkit-keyframes cssanimation {
  0% {
    top: 15.625vw;
  }
  50% {
    top: calc(15.625vw + 1.0416666666666667vw);
  }
  100% {
    top: 15.625vw;
  }
}

@keyframes cssanimation {
  0% {
    top: 15.625vw;
  }
  50% {
    top: calc(15.625vw + 1.0416666666666667vw);
  }
  100% {
    top: 15.625vw;
  }
}

.main .focusSection .contents {
  padding: 12.5vw 10.416666666666666vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .focusSection .contents img {
  width: 32.291666666666664vw;
  height: auto;
}

.main .focusSection .contents .content .heading {
  font-family: "Mont-SB";
  font-size: 2.9166666666666665vw;
  width: none;
}

.main .focusSection .contents .content .para {
  font-family: "Mont-M";
  font-size: 1.25vw;
  line-height: 1.9270833333333333vw;
  width: 38.54167vw;
  margin-top: 1.4583333333333333vw;
}

.main .quoteSection {
  padding: 9.114583333333334vw 0 15vw 0;
}

.main .quoteSection .quote {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .quoteSection .quote .quoteLeft {
  position: absolute;
  width: 4.427083333333333vw;
  top: -3.90625vw;
  left: -28.645833333333332vw;
}

.main .quoteSection .quote .quoteRight {
  position: absolute;
  width: 4.427083333333333vw;
  right: -28.645833333333332vw;
  bottom: -9.114583333333334vw;
}

.main .quoteSection .content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .quoteSection .content .text {
  font-family: "Mont-MI";
  font-size: 3.75vw;
  text-align: center;
}

.main .introSection .contents {
  padding: 12.5vw 10.416666666666666vw 7vw 10.416666666666666vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .introSection .contents .content .heading {
  font-family: "Mont-SB";
  font-size: 2.9166666666666665vw;
  width: none;
}

.main .introSection .contents .content .para {
  font-family: "Mont-M";
  font-size: 1.25vw;
  line-height: 1.9270833333333333vw;
  width: 35.83333vw;
  margin-top: 1.4583333333333333vw;
}

.main .introSection .contents img {
  width: 38.802083333333336vw;
  height: auto;
}

.main .features {
  padding: 0 10.416666666666666vw 5vw 10.416666666666666vw;
}

.main .features .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main .features .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 16.354166666666668vw;
  height: 16.354166666666668vw;
  background: #fff;
  border-radius: 1.3020833333333333vw;
  -webkit-box-shadow: -0.15625vw 0.41667vw 2.29167vw rgba(145, 145, 145, 0.06);
          box-shadow: -0.15625vw 0.41667vw 2.29167vw rgba(145, 145, 145, 0.06);
}

.main .features .cards .card:hover {
  -webkit-box-shadow: -0.15625vw 0.41667vw 2.34375vw rgba(136, 136, 136, 0.19);
          box-shadow: -0.15625vw 0.41667vw 2.34375vw rgba(136, 136, 136, 0.19);
}

.main .features .cards .card:hover img,
.main .features .cards .card:hover .text {
  -webkit-transform: translateZ(10px);
          transform: translateZ(10px);
}

.main .features .cards .card img {
  padding-top: 1.5vw;
  width: 9.0625vw;
  height: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .features .cards .card .text {
  font-family: "Mont-M";
  font-size: 1.25vw;
  line-height: 1.9270833333333333vw;
  width: none;
  padding-bottom: 2.3vw;
  font-family: "Mont-SB";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .winnerSection .contents {
  padding: 12.5vw 10.416666666666666vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .winnerSection .contents img {
  width: 25.520833333333332vw;
  height: auto;
}

.main .winnerSection .contents .content .heading {
  font-family: "Mont-SB";
  font-size: 2.9166666666666665vw;
  width: none;
}

.main .winnerSection .contents .content .para {
  font-family: "Mont-M";
  font-size: 1.25vw;
  line-height: 1.9270833333333333vw;
  width: 35.83333vw;
  margin-top: 1.4583333333333333vw;
}

.main .testimonials {
  min-height: 100vh;
  padding-top: 6vw;
}

.main .testimonials .container {
  max-width: 100vw;
  margin: auto;
}

.main .testimonials .container .quotes .lq {
  position: absolute;
  margin-left: 20.833333333333332vw;
  margin-top: 15.625vw;
  width: 4.427083333333333vw;
  height: auto;
}

.main .testimonials .container .quotes .rq {
  position: absolute;
  margin-left: 72.91666666666667vw;
  margin-top: 28.645833333333332vw;
  width: 4.427083333333333vw;
  height: auto;
}

.main .testimonials .container .title {
  font-family: "Mont-SB";
  font-size: 2.9166666666666665vw;
  width: none;
  margin-bottom: 3.90625vw;
  text-align: center;
}

.main .testimonials .container .slider-indicator {
  padding: 2.6041666666666665vw 0 3.90625vw 0;
  text-align-last: center;
}

.main .testimonials .container .slider-indicator img {
  width: 4.947916666666667vw;
  height: auto;
  margin: 0 1.5625vw;
  opacity: 0.5;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .testimonials .container .slider-indicator img.active {
  opacity: 1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.main .testimonials .container .slider {
  max-width: 41vw;
  margin: auto;
  text-align: center;
  padding: 1.5625vw;
}

.main .testimonials .container .slider .slide {
  display: none;
}

.main .testimonials .container .slider .slide.active {
  display: block;
  -webkit-animation: slide 1s ease;
          animation: slide 1s ease;
}

.main .testimonials .container .slider .slide p {
  font-family: "Mont-M";
  font-size: 1.25vw;
  line-height: 1.9270833333333333vw;
  width: none;
  color: #60695c;
}

.main .testimonials .container .slider .slide .client-info {
  margin: 1.5625vw 0;
}

.main .testimonials .container .slider .slide .client-info .name {
  font-size: 0.9375vw;
  font-family: "Mont-B";
  margin: 0.2604166666666667vw 0;
}

.main .testimonials .container .slider .slide .client-info span {
  display: block;
  font-size: 0.85vw;
  font-family: "Mont-MI";
  color: #60695c;
}

.main footer {
  height: 5vh;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main footer h3 {
  font-size: 1vw;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Mont-SB";
  word-spacing: 0.3645833333333333vw;
}

.main footer h3 img {
  width: 0.8333333333333334vw;
  height: auto;
  -webkit-animation: heart ease-in-out 2s infinite;
          animation: heart ease-in-out 2s infinite;
}

@media screen and (max-width: 1300px) {
  .main .heroSection header {
    height: 9.5vw;
  }
  .main .heroSection header .logoContainer {
    width: 11vw;
  }
  .main .heroSection header nav .navLinks button {
    font-size: 1.5vw;
    border: 0.2vw solid #ff4d4d;
  }
  .main .heroSection .heroBg .down {
    width: 4vw;
  }
  .main .heroSection .heroContent .content .heading {
    font-size: 3.6vw;
  }
  .main .heroSection .heroContent .content .para {
    font-size: 1.5vw;
    line-height: 2.5vw;
  }
  .main .heroSection .heroContent .content .btns a {
    margin-right: 2vw;
  }
  .main .heroSection .heroContent .content .btns .expBtn,
  .main .heroSection .heroContent .content .btns .viewBtn {
    font-size: 1.5vw;
    border: 0.2vw solid #ff4d4d;
  }
  .main .heroSection .heroContent .images .boyLap {
    width: 24vw;
  }
  .main .focusSection .contents img {
    width: 35vw;
  }
  .main .focusSection .contents .content .heading {
    font-size: 3.6vw;
  }
  .main .focusSection .contents .content .para {
    font-size: 1.5vw;
    line-height: 2.5vw;
  }
  .main .quoteSection .quote .quoteLeft {
    top: -4.2vw;
    left: -33vw;
  }
  .main .quoteSection .quote .quoteRight {
    right: -33vw;
    bottom: -11;
  }
  .main .quoteSection .content .text {
    font-size: 4.5vw;
  }
  .main .introSection .contents .content .heading {
    font-size: 3.6vw;
  }
  .main .introSection .contents .content .para {
    font-size: 1.5vw;
    line-height: 2.5vw;
  }
  .main .introSection .contents img {
    width: 38.802083333333336vw;
  }
  .main .features .cards .card {
    width: 16.7vw;
    height: 16.7vw;
  }
  .main .features .cards .card .text {
    font-size: 1.5vw;
  }
  .main .winnerSection .contents img {
    width: 25.520833333333332vw;
  }
  .main .winnerSection .contents .content .heading {
    font-size: 3.6vw;
  }
  .main .winnerSection .contents .content .para {
    font-size: 1.5vw;
    line-height: 2.5vw;
  }
  .main .testimonials {
    min-height: 70vh;
  }
  .main .testimonials .container .quotes .lq {
    position: absolute;
    margin-left: 20.833333333333332vw;
    margin-top: 15.625vw;
    width: 4.427083333333333vw;
    height: auto;
  }
  .main .testimonials .container .quotes .rq {
    position: absolute;
    margin-left: 72.91666666666667vw;
    margin-top: 28.645833333333332vw;
    width: 4.427083333333333vw;
    height: auto;
  }
  .main .testimonials .container .title {
    font-size: 3.6vw;
    margin-bottom: 4.5vw;
  }
  .main .testimonials .container .slider-indicator {
    padding: 2.6041666666666665vw 0 3.90625vw 0;
    text-align-last: center;
  }
  .main .testimonials .container .slider-indicator img {
    width: 5.2vw;
    height: auto;
    margin: 0 2vw;
  }
  .main .testimonials .container .slider .slide p {
    font-size: 1.5vw;
    line-height: 2.5vw;
  }
  .main .testimonials .container .slider .slide .client-info {
    margin: 2vw 0;
  }
  .main .testimonials .container .slider .slide .client-info .name {
    font-size: 1.2vw;
    margin: 0.7vw 0;
  }
  .main .testimonials .container .slider .slide .client-info span {
    font-size: 1vw;
  }
  .main footer {
    height: 5vh;
  }
  .main footer h3 {
    font-size: 1.35vw;
  }
  .main footer h3 img {
    width: 1vw;
  }
}

@media screen and (max-width: 900px) {
  .main .heroSection header {
    height: 10vw;
  }
  .main .heroSection header .logoContainer {
    width: 12vw;
  }
  .main .heroSection header nav .navLinks button {
    font-size: 1.7vw;
    border: 0.3vw solid #ff4d4d;
    padding: 1vw 3vw;
  }
  .main .heroSection .heroBg .down {
    width: 5vw;
  }
  .main .heroSection .heroContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 7vw;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-47%);
            transform: translateX(-47%);
  }
  .main .heroSection .heroContent .content {
    margin-top: 10vw;
  }
  .main .heroSection .heroContent .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 50vw;
    font-size: 4.5vw;
  }
  .main .heroSection .heroContent .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 45vw;
    font-size: 2.3vw;
    line-height: 3vw;
    margin: 2vw 0 2.7vw 0;
    text-align: center;
  }
  .main .heroSection .heroContent .content .btns {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-43%);
            transform: translateX(-43%);
  }
  .main .heroSection .heroContent .content .btns a {
    margin-right: 2vw;
  }
  .main .heroSection .heroContent .content .btns .expBtn,
  .main .heroSection .heroContent .content .btns .viewBtn {
    font-size: 1.7vw;
    border: 0.3vw solid #ff4d4d;
    padding: 1vw 3vw;
  }
  .main .heroSection .heroContent .images {
    margin-right: 10vw;
  }
  .main .heroSection .heroContent .images .boyLap {
    width: 40vw;
  }
  .main .focusSection .contents {
    padding: 19vw 10.416666666666666vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .main .focusSection .contents img {
    width: 47vw;
  }
  .main .focusSection .contents .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5vw;
  }
  .main .focusSection .contents .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 60vw;
    font-size: 4.5vw;
    text-align: center;
  }
  .main .focusSection .contents .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 51vw;
    font-size: 2.3vw;
    line-height: 3vw;
    margin-top: 2vw;
    text-align: center;
  }
  .main .quoteSection .quote .quoteLeft {
    top: -4.2vw;
    left: -33vw;
  }
  .main .quoteSection .quote .quoteRight {
    right: -33vw;
    bottom: -11;
  }
  .main .quoteSection .content .text {
    font-size: 4vw;
  }
  .main .introSection .contents {
    padding: 19vw 10.416666666666666vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .main .introSection .contents .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main .introSection .contents .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 60vw;
    font-size: 4.5vw;
    text-align: center;
  }
  .main .introSection .contents .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 51vw;
    font-size: 2.3vw;
    line-height: 3vw;
    margin-top: 2vw;
    text-align: center;
  }
  .main .introSection .contents img {
    width: 47vw;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main .features .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-row-gap: 10vw;
  }
  .main .features .cards .card {
    width: 26vw;
    height: 26vw;
  }
  .main .features .cards .card img {
    padding-top: 1.9vw;
    width: 15vw;
  }
  .main .features .cards .card .text {
    font-size: 2.5vw;
    padding-bottom: 4.5vw;
  }
  .main .winnerSection .contents {
    padding: 25vw 10.416666666666666vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .main .winnerSection .contents img {
    width: 30vw;
  }
  .main .winnerSection .contents .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5vw;
  }
  .main .winnerSection .contents .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 60vw;
    font-size: 4.5vw;
    text-align: center;
  }
  .main .winnerSection .contents .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 51vw;
    font-size: 2.3vw;
    line-height: 3vw;
    margin-top: 2vw;
    text-align: center;
  }
  .main .testimonials {
    min-height: 70vh;
  }
  .main .testimonials .container .quotes .lq {
    margin-left: 12vw;
    margin-top: 22vw;
    width: 5vw;
  }
  .main .testimonials .container .quotes .rq {
    margin-left: 80vw;
    margin-top: 50vw;
    width: 5vw;
  }
  .main .testimonials .container .title {
    font-size: 3.9vw;
    margin-bottom: 4.5vw;
  }
  .main .testimonials .container .slider-indicator {
    padding: 5vw 0 3.90625vw 0;
    text-align-last: center;
  }
  .main .testimonials .container .slider-indicator img {
    width: 7vw;
    height: auto;
    margin: 0 4vw;
  }
  .main .testimonials .container .slider {
    max-width: 60vw;
  }
  .main .testimonials .container .slider .slide p {
    font-size: 2.5vw;
    line-height: 3.5vw;
  }
  .main .testimonials .container .slider .slide .client-info {
    margin: 4vw 0;
  }
  .main .testimonials .container .slider .slide .client-info .name {
    font-size: 2vw;
    margin: 1.5vw 0;
  }
  .main .testimonials .container .slider .slide .client-info span {
    font-size: 1.7vw;
  }
  .main footer {
    height: 5.7vh;
  }
  .main footer h3 {
    font-size: 1.8vw;
  }
  .main footer h3 img {
    width: 1.4vw;
  }
}

@media screen and (max-width: 700px) {
  .main .heroSection header {
    height: 17vw;
  }
  .main .heroSection header .logoContainer {
    width: 18vw;
  }
  .main .heroSection header nav .navLinks button {
    font-size: 1.9vw;
    border: 0.4vw solid #ff4d4d;
    padding: 1.5vw 4vw;
    border-radius: 1.1vw;
  }
  .main .heroSection .heroBg .down {
    width: 6vw;
  }
  .main .heroSection .heroContent {
    margin-top: 7vw;
    left: 50%;
    -webkit-transform: translateX(-47%);
            transform: translateX(-47%);
  }
  .main .heroSection .heroContent .content {
    margin-top: 10vw;
  }
  .main .heroSection .heroContent .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 70vw;
    font-size: 4.9vw;
    line-height: 7.5vw;
    text-align: center;
  }
  .main .heroSection .heroContent .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 70vw;
    font-size: 3vw;
    line-height: 4.5vw;
    margin: 2vw 0 3.5vw 0;
  }
  .main .heroSection .heroContent .content .btns {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-35.5%);
            transform: translateX(-35.5%);
  }
  .main .heroSection .heroContent .content .btns a {
    margin-right: 2vw;
  }
  .main .heroSection .heroContent .content .btns .expBtn,
  .main .heroSection .heroContent .content .btns .viewBtn {
    font-size: 1.9vw;
    border: 0.4vw solid #ff4d4d;
    padding: 1.5vw 4vw;
    border-radius: 1.1vw;
  }
  .main .heroSection .heroContent .images {
    margin-right: 10vw;
    height: 40vw;
  }
  .main .heroSection .heroContent .images .boyLap {
    width: 45vw;
  }
  .main .heroSection .heroContent .images .html {
    position: absolute;
    width: 6.25vw;
    top: 40vw;
    left: -5vw;
    right: none;
    width: 9vw;
  }
  .main .heroSection .heroContent .images .js {
    position: absolute;
    width: 6.25vw;
    top: -5vw;
    left: 6vw;
    right: none;
    width: 9vw;
  }
  .main .heroSection .heroContent .images .php {
    position: absolute;
    width: 6.25vw;
    top: 8vw;
    left: none;
    right: 1vw;
    width: 9vw;
  }
  .main .heroSection .heroContent .images .css {
    position: absolute;
    width: 6.25vw;
    top: 4vw;
    left: none;
    right: -5vw;
    width: 9vw;
  }
  .main .focusSection .contents {
    padding: 29vw 10.416666666666666vw;
  }
  .main .focusSection .contents img {
    width: 54vw;
  }
  .main .focusSection .contents .content {
    margin-top: 7vw;
  }
  .main .focusSection .contents .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 70vw;
    font-size: 4.9vw;
    line-height: 7.5vw;
    text-align: center;
  }
  .main .focusSection .contents .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 58vw;
    font-size: 3vw;
    line-height: 4.5vw;
    margin: 2vw 0 3.5vw 0;
  }
  .main .quoteSection .quote .quoteLeft {
    top: -4.2vw;
    left: -33vw;
  }
  .main .quoteSection .quote .quoteRight {
    right: -33vw;
    bottom: -11;
  }
  .main .quoteSection .content .text {
    font-size: 4vw;
  }
  .main .introSection .contents {
    padding: 28vw 10.416666666666666vw 19vw 10.416666666666666vw;
  }
  .main .introSection .contents .content {
    margin-top: 7vw;
  }
  .main .introSection .contents .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 70vw;
    font-size: 4.9vw;
    line-height: 7.5vw;
    text-align: center;
  }
  .main .introSection .contents .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 58vw;
    font-size: 3vw;
    line-height: 4.5vw;
    margin: 2vw 0 3.5vw 0;
  }
  .main .introSection .contents img {
    width: 54vw;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main .features .cards {
    grid-row-gap: 7vw;
  }
  .main .features .cards .card {
    width: 30vw;
    height: 30vw;
  }
  .main .features .cards .card img {
    width: 18vw;
  }
  .main .features .cards .card .text {
    font-size: 2.7vw;
  }
  .main .winnerSection .contents {
    padding: 29vw 10.416666666666666vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .main .winnerSection .contents img {
    width: 35vw;
  }
  .main .winnerSection .contents .content {
    margin-top: 7vw;
  }
  .main .winnerSection .contents .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 70vw;
    font-size: 4.9vw;
    line-height: 7.5vw;
    text-align: center;
  }
  .main .winnerSection .contents .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 65vw;
    font-size: 3vw;
    line-height: 4.5vw;
    margin: 2vw 0 3.5vw 0;
  }
  .main .testimonials {
    min-height: 55vh;
  }
  .main .testimonials .container .quotes .lq {
    margin-left: 12vw;
    margin-top: 22vw;
    width: 5vw;
  }
  .main .testimonials .container .quotes .rq {
    margin-left: 80vw;
    margin-top: 50vw;
    width: 5vw;
  }
  .main .testimonials .container .title {
    font-size: 4.2vw;
    margin-bottom: 4.5vw;
  }
  .main .testimonials .container .slider-indicator {
    padding: 5vw 0 3.90625vw 0;
    text-align-last: center;
  }
  .main .testimonials .container .slider-indicator img {
    width: 7vw;
    height: auto;
    margin: 0 4vw;
  }
  .main .testimonials .container .slider {
    max-width: 60vw;
  }
  .main .testimonials .container .slider .slide p {
    font-size: 2.5vw;
    line-height: 3.5vw;
  }
  .main .testimonials .container .slider .slide .client-info {
    margin: 4vw 0;
  }
  .main .testimonials .container .slider .slide .client-info .name {
    font-size: 2vw;
    margin: 1.5vw 0;
  }
  .main .testimonials .container .slider .slide .client-info span {
    font-size: 1.7vw;
  }
  .main footer {
    height: 5.7vh;
  }
  .main footer h3 {
    font-size: 2vw;
  }
  .main footer h3 img {
    width: 1.7vw;
  }
}

@media screen and (max-width: 450px) {
  .main .heroSection header {
    height: 20vw;
  }
  .main .heroSection header .logoContainer {
    width: 23vw;
  }
  .main .heroSection header nav .navLinks button {
    font-size: 2.6vw;
    border: 0.45vw solid #ff4d4d;
    padding: 1.7vw 5vw;
    border-radius: 1.3vw;
  }
  .main .heroSection .heroBg .down {
    width: 8vw;
  }
  .main .heroSection .heroContent {
    margin-top: 7vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .main .heroSection .heroContent .content {
    margin-top: 10vw;
  }
  .main .heroSection .heroContent .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 75vw;
    font-size: 6vw;
    line-height: 8vw;
  }
  .main .heroSection .heroContent .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 70vw;
    font-size: 3.8vw;
    line-height: 6vw;
    margin: 3vw 0 5vw 0;
    margin-left: 2vw;
  }
  .main .heroSection .heroContent .content .btns {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-39.5%);
            transform: translateX(-39.5%);
  }
  .main .heroSection .heroContent .content .btns a {
    margin-right: 4vw;
  }
  .main .heroSection .heroContent .content .btns .expBtn,
  .main .heroSection .heroContent .content .btns .viewBtn {
    font-size: 2.6vw;
    border: 0.45vw solid #ff4d4d;
    padding: 1.7vw 5vw;
    border-radius: 1.3vw;
  }
  .main .heroSection .heroContent .images {
    margin-right: 5vw;
    height: 47vw;
  }
  .main .heroSection .heroContent .images .boyLap {
    width: 45vw;
  }
  .main .heroSection .heroContent .images .html {
    position: absolute;
    width: 6.25vw;
    top: 40vw;
    left: -5vw;
    right: none;
    width: 9vw;
  }
  .main .heroSection .heroContent .images .js {
    position: absolute;
    width: 6.25vw;
    top: -5vw;
    left: 6vw;
    right: none;
    width: 9vw;
  }
  .main .heroSection .heroContent .images .php {
    position: absolute;
    width: 6.25vw;
    top: 8vw;
    left: none;
    right: 1vw;
    width: 9vw;
  }
  .main .heroSection .heroContent .images .css {
    position: absolute;
    width: 6.25vw;
    top: 4vw;
    left: none;
    right: -5vw;
    width: 9vw;
  }
  .main .focusSection .contents {
    padding: 35vw 10.416666666666666vw;
  }
  .main .focusSection .contents img {
    width: 60vw;
  }
  .main .focusSection .contents .content {
    margin-top: 10vw;
  }
  .main .focusSection .contents .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 75vw;
    font-size: 6vw;
    line-height: 8vw;
  }
  .main .focusSection .contents .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 75vw;
    font-size: 3.8vw;
    line-height: 6vw;
    margin: 3vw 0 5vw 0;
  }
  .main .quoteSection .quote .quoteLeft {
    width: 5vw;
    top: -4.2vw;
    left: -33vw;
  }
  .main .quoteSection .quote .quoteRight {
    width: 5vw;
    right: -33vw;
    bottom: -11;
  }
  .main .quoteSection .content .text {
    font-size: 4.5vw;
  }
  .main .introSection .contents {
    padding: 39vw 10.416666666666666vw 19vw 10.416666666666666vw;
  }
  .main .introSection .contents .content {
    margin-top: 10vw;
  }
  .main .introSection .contents .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 75vw;
    font-size: 6vw;
    line-height: 8vw;
  }
  .main .introSection .contents .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 75vw;
    font-size: 3.8vw;
    line-height: 6vw;
    margin: 3vw 0 5vw 0;
  }
  .main .introSection .contents img {
    width: 60vw;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main .features .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 7vw;
  }
  .main .features .cards .card {
    width: 40vw;
    height: 40vw;
    border-radius: 3vw;
  }
  .main .features .cards .card img {
    width: 25vw;
  }
  .main .features .cards .card .text {
    font-size: 3.5vw;
    padding-bottom: 5vw;
  }
  .main .winnerSection .contents {
    padding: 39vw 10.416666666666666vw 23vw 10.416666666666666vw;
  }
  .main .winnerSection .contents img {
    width: 35vw;
  }
  .main .winnerSection .contents .content {
    margin-top: 10vw;
  }
  .main .winnerSection .contents .content .heading {
    font-family: "Mont-SB";
    font-size: 2.9166666666666665vw;
    width: 75vw;
    font-size: 6vw;
    line-height: 8vw;
  }
  .main .winnerSection .contents .content .para {
    font-family: "Mont-M";
    font-size: 1.25vw;
    line-height: 1.9270833333333333vw;
    width: 75vw;
    font-size: 3.8vw;
    line-height: 6vw;
    margin: 3vw 0 5vw 0;
  }
  .main .testimonials {
    min-height: 65vh;
  }
  .main .testimonials .container .quotes .lq {
    margin-left: 4vw;
    margin-top: 35vw;
    width: 7vw;
  }
  .main .testimonials .container .quotes .rq {
    margin-left: 88vw;
    margin-top: 80vw;
    width: 7vw;
  }
  .main .testimonials .container .title {
    font-size: 5.5vw;
    margin-bottom: 4vw;
  }
  .main .testimonials .container .slider-indicator {
    padding: 5vw 0 3.90625vw 0;
    text-align-last: center;
  }
  .main .testimonials .container .slider-indicator img {
    width: 10vw;
    height: auto;
    margin: 4vw 7vw;
  }
  .main .testimonials .container .slider {
    max-width: 80vw;
  }
  .main .testimonials .container .slider .slide p {
    font-size: 4vw;
    line-height: 5.5vw;
  }
  .main .testimonials .container .slider .slide .client-info {
    margin: 6vw 0;
  }
  .main .testimonials .container .slider .slide .client-info .name {
    font-size: 3.5vw;
    margin: 1.5vw 0;
  }
  .main .testimonials .container .slider .slide .client-info span {
    font-size: 3vw;
  }
  .main footer {
    height: 5.7vh;
  }
  .main footer h3 {
    font-size: 3vw;
  }
  .main footer h3 img {
    width: 2vw;
  }
}
/*# sourceMappingURL=style.css.map */